html, body{
    margin: 0;
    padding: 0;
}
body *{
    box-sizing: border-box;
    border: 1px solid black;
}

header{
    width: 100%;
    border: 1px solid rgb(114, 135, 224);
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(55, 192, 255);
    z-index: 2;
}

.header{
    width: 1080px;
    height: 100%;

}

main{
    height: 2160px;
    width: 100%;
    position: relative;
}

main > div:nth-of-type(2){
    height: 45%;
    width: 1080px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    color: white;
}

main > div:nth-of-type(1){
    background: url(https://talk.op.gg/images/game/bg_lol.jpg) no-repeat;
    background-size: 100% 400px;
    width: 100%;
    height: 400px;

    
}
