*{
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    
}

main{

    height: 1000px;
}

footer{
    height: 150px;
    border-top: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
}

#footer{
    width: 1120px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(160, 160, 160);
    display: flex;
}

.footer-text{
    width: 70%;
}

.footer-text > p{
    margin: 5px;
}

.footer-img{
    width: 30%;
}

.footer-img > a{
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: 30px;
}